<div class="my-bookings-container">
  <h2>My Bookings</h2>

  <p *ngIf="loading">Loading...</p>

  <div *ngIf="!loading && bookings.length === 0">
    No bookings found.
    <button routerLink="/">Book Room</button>
  </div>

  <div class="booking-card" *ngFor="let b of bookings">

    <div class="header">
      <span>Booking #{{ b.id }}</span>
      <span class="status {{ b.status }}">{{ b.status }}</span>

    </div>

    <p>Room: {{ b.roomType }}</p>
    <p>Check-In: {{ b.checkInDate }}</p>
    <p>Check-Out: {{ b.checkOutDate }}</p>
    <p>Total: ₹ {{ b.totalPrice }}</p>

    <button (click)="downloadInvoice(b)">Invoice</button>

    <button *ngIf="b.status === 'CONFIRMED'"
            (click)="cancelBooking(b.id)">
      Cancel
    </button>
  </div>
</div>
