<nav class="navbar">
  <div class="navbar-left">
    <a class="logo" routerLink="/">HotelBooking</a>
  </div>

  <div class="navbar-right">

    <a routerLink="/">Home</a>
    <a routerLink="/my-bookings">My Bookings</a>


    <ng-container *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login">Login</a>
      <a routerLink="/register" class="btn">Register</a>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn()">
      <span class="user">Hi, {{ userName }}</span>
      <a routerLink="/profile">Profile</a>
      <button class="btn logout" (click)="logout()">Logout</button>
    </ng-container>

  </div>
</nav>
